<div class="container mt-5">

    <div class="table-responsive">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        <input class="float-right mb-3" type="text" name="searchWord" class="text-center form-control mb-3" id="" placeholder="search by Name/ Area/ Specialization" [(ngModel)]='searchWord'>
                </div>
                <div class="col-md-3"></div>
            </div>
    <table class="table">
            
        <thead class="bg-info text-white">
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Exp</th>
            <th>Spec</th>
            <th>Area</th>
            <th>Timings</th>
            
            <th>status</th>
        </thead>
    
    <tr *ngFor="let obj of list | search : searchWord">
                   
                <td>{{obj.name}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.experience}}</td>
                <td>{{obj.specilization}}</td>
                <td>{{obj.area}}</td>
                <td>{{obj.timing}}</td>  
    
                
            <td>
                <button class="btn btn-success" type="submit" *ngIf="!(currentUser[0].name==obj.patientname)" (click)="changeStatus(obj)">{{b?"bookappointment":"request pending"}}</button>
                <!--<button class="btn btn-primary" *ngIf="check " (click)="requestStatus(x)">check request </button>-->
                <p *ngIf='currentUser[0].name==obj.patientname'>{{obj.reqstatus}}</p>
            </td>
        </tr>
    
    </table>
    </div>
    </div>