<div class="container">
    <div class="row">
        <div class="col-md-3">
                
        </div>
        <div class="col-md-6 mt-5">
                <div *ngIf="b">
                    <div *ngFor="let currentUser of currentUser">
                        <h3><marquee>Welcome {{currentUser.puname}} </marquee></h3>
                    <h2 class="text-center text-info">View Profile</h2>
                <table class="table h6 ">
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{currentUser.puname}}</td>
                    </tr>
                    <tr>
                        <td><b>UserName</b></td>
                        <td>{{currentUser.name}}</td>
                    </tr>
                    <tr>
                        <td><b>DOB</b></td>
                        <td>{{currentUser.date}}</td>
                    </tr>
                    <tr>
                        <td><b>Mail Id</b></td>
                        <td>{{currentUser.email}}</td>
                    </tr>
                    <tr>
                        <td><b>mobileNumber</b></td>
                        <td>{{currentUser.mobilenumber}}</td>
                    </tr>
                    <tr>
                        <td><b>Area</b></td>
                        <td>{{currentUser.area}}</td>
                    </tr>

                </table>
                <button type="submit" class="btn btn-success d-block mx-auto" (click)="edit(currentUser)">Edit</button>
                </div>
            </div>


                <div *ngIf="!b">
                        <h2 class="text-center text-info">Edit Profile</h2>
                        
                    <form #ref="ngForm" (ngSubmit)="submitEditData(ref.value)">
                            <table class="table h6">
                                    <tr>
                                            <td><b>UserName</b></td>
                                            <td><input type="text" name="name" id="" value="objectToUpdate.name" class="form-control" [(ngModel)]=objectToUpdate.name readonly></td>
                                        </tr>

                                    <tr>
                                        <td><b>Name</b></td>
                                        <td><input type="text" name="puname" id="" value="objectToUpdate.puname" class="form-control" [(ngModel)]=objectToUpdate.puname></td>
                                    </tr>
                                    <tr>
                                        <td><b>DOB</b></td>
                                        <td><input type="date" name="date" value="objectToUpdate.date" class="form-control" [(ngModel)]=objectToUpdate.date></td>
                                    </tr>
                                    <tr>
                                        <td><b>Email-Id</b></td>
                                        <td><input type="text" name="email" value="objectToUpdate.email" class="form-control" [(ngModel)]=objectToUpdate.email></td>
                                    </tr>
                                    <tr>
                                        <td><b>Phone</b></td>
                                        <td><input type="number" name="mobileno" value="objectToUpdate.mobilenumber" class="form-control" [(ngModel)]=objectToUpdate.mobilenumber></td>
                                    </tr>
                                    <tr>
                                        <td><b>Area</b></td>
                                        <td><input type="text" name="area" value="objectToUpdate.area" class="form-control" [(ngModel)]=objectToUpdate.area></td>
                                    </tr>
                                    <tr>
                                        <td><button type="submit" class="btn btn-info">Save</button></td>
                                    </tr>
                                </table>
                    </form>
                    </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
