<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">   
                    <ul class="navbar-nav">
                            <li class="nav-item">        
                                <a routerLink="patient" class="nav-link">Patient Registration</a>
                            </li>
                            <li class="nav-item">       
                                 <a routerLink="doctor" class="nav-link">Doctor Registration</a>
                            </li>
                    </ul>
            </nav>
         </div>
         <div class="col-md-3"></div>
    </div>
<router-outlet></router-outlet>
</div>


