<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <form class="mt-5 " style="border:5px solid rgb(53, 153, 235);background-color: rgba(191, 213, 231, 0.575)"  #ref="ngForm" (ngSubmit)="patientReg(ref.value)">
            <h3 class="text-center text-info"> Patient Registration Form</h3>

  <table class="table">
 <tr class="form-group">
   <td><label><span>*</span>UserName:</label></td>
   <td><input type="text" name="name" class="form-control" #reguser="ngModel" ngModel minlength="5" required>
    <div *ngIf="reguser.invalid&&(reguser.dirty||reguser.touched)">
      <div *ngIf="reguser.errors.required">
      <p class="text-danger">*username is manidatory</p>
    </div>
    <div *ngIf="reguser.errors.minlength">
      <p class="text-danger">*UserName must be atleast 4 characters long</p>
    </div>
  </div>
  </td>
 </tr>
 <tr class="form-group">
    <td><label>Name:</label></td>
    <td><input type="text" name="puname" class="form-control" #regusers="ngModel" ngModel required>
     <div *ngIf="regusers.invalid&&(regusers.dirty||regusers.touched)">
       <div *ngIf="regusers.errors.required">
       <p class="text-danger">*name is manidatory</p>
     </div>
     
   </div>
   </td>
  </tr>
 <tr class="form-group">
    <td><label>Email:</label></td>
    <td><input type="email" name="email" class="form-control" ngModel></td>
    </tr>
 <tr class="form-group">
    <td><label><span>*</span>Password:</label></td>
    <td><input type="password" name="password" class="form-control" ngModel  #pw="ngModel" required minlength="6">
      <div *ngIf="pw.invalid && (pw.dirty||pw.touched)">
          <div *ngIf="pw.errors.required">
            <p class="text-danger">*Password is required</p>
          </div>
          <div *ngIf="pw.errors.minlength">
            <p class="text-danger">*Password must be atleast 6 characters long</p>
          </div>
        </div>
    </td>
  </tr>
 <tr class="form-group">
 <td><label><span>*</span>MobileNumber:</label></td>
 <td><input type="tel" name="mobilenumber" class="form-control" ngModel #m="ngModel" required>
  <div *ngIf="m.invalid && m.touched">
      <div *ngIf="m.errors.required">
        <p class="text-danger">*Contact number is required</p>
      </div>
    </div></td>
 </tr>
 
    <tr class="form-group">
        <td><label><span>*</span>DateOfBirth:</label></td>
        <td><input type="date" name="date" class="form-control" ngModel required #dob="ngModel">
        <div *ngIf="dob.invalid && dob.touched">
          <div *ngIf="dob.errors.required">
            <p class="text-danger">*D.O.B is required</p>
          </div>
        </div></td>
        </tr>
 <tr>
   <td><label>Gender:</label></td>
   <td><div class="form-check" *ngFor="let gender of genders" >
     <label for={{gender}} class="form-check-label">
     <input type="radio" name="gender" id={{gender}} [value]=gender  class="form-check-input" ngModel>{{gender}}
  </label></div>
  
  </td>
  

 </tr>
<tr>
  <td><label>Area:</label></td>
  <td class="form-group">
    <select class="form-control" name="area" id="" ngModel>
        <option value="" disabled="disabled" selected> Select Area</option>
      <option [value]=area *ngFor="let area of areas"  selected>
        {{area}}
      </option>
      


    </select>
  </td>
</tr>


</table>
<div class="text-center">
<button class="btn btn-success" type="submit"> submit</button>
</div>
</form>
</div>
<div class="col-md-3"></div>
</div>
</div>