<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 px-3 py-3 mt-3 text-info ">
            <div class="container">
                    <form class="form" style="background-color: rgba(191, 213, 231, 0.575);border:5px solid rgb(53, 153, 235);" #pay=ngForm (ngSubmit)=payment(pay.value)>
                        <h1 class="text-center">Make your payment</h1>
                            <div class="form-group">
                                    <label for="doctor name"><span>*</span>Doctor Username</label>
                                    <input type="text" name="name" id="name" class="form-control" #reguser="ngModel" ngModel required>
                                    <div *ngIf="reguser.invalid&&(reguser.dirty||reguser.touched)">
                                                <div *ngIf="reguser.errors.required">
                                                <p class="text-danger">*Doctorname is manidatory</p>
                                              </div>
                                              </div>
                            </div>
                            <div class="form-group">
                                    <label for="address">address</label>
                                    <input type="text" name="address" id="address" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="amount"><span>*</span>amount</label>
                                    <input type="number" name="amount" id="amount" class="form-control" ngModel #amount="ngModel" required>
                                    <div *ngIf="amount.invalid&&(amount.dirty||amount.touched)">
                                                <div *ngIf="amount.errors.required">
                                                <p class="text-danger">*Amount is manidatory</p>
                                              </div>
                                              </div>
                            </div>
                            <div class="form-group">
                                    <label for="date">date</label>
                                    <input type="date" name="date" id="date" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="code"><span>*</span>IFSC code</label>
                                    <input type="text" name="ifsccode" id="code" class="form-control" ngModel #ifsc="ngModel" ngModel required>
                                    <div *ngIf="ifsc.invalid&&(ifsc.dirty||ifsc.touched)">
                                                <div *ngIf="ifsc.errors.required">
                                                <p class="text-danger">*IFSC is manidatory</p>
                                              </div>
                                              </div>
                            </div>
                            <div class="form-group">
                                    <label for="account"><span>*</span>account number</label>
                                    <input type="text" name="accountnumber" id="account" class="form-control" ngModel #account="ngModel" required>
                                    <div *ngIf="account.invalid&&(account.dirty||account.touched)">
                                                <div *ngIf="account.errors.required">
                                                <p class="text-danger">*Account Number is manidatory</p>
                                              </div>
                                              </div>
                            </div>
                            <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary text-center">pay</button>
                            </div>
                
                    </form>
                    </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
    