<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-3 ">
        <div>
            <div class="container py-3" >
                <h3 class=" text-center text-dark mb-2" style="text-decoration:underline">Login Form</h3>
                    <form class="form" style="background-color: rgba(191, 213, 231, 0.575);border:5px solid rgb(53, 153, 235);border-radius: 15px" #ref=ngForm (ngSubmit)="submit(ref.value)">
                        
                        <div class="text-center"> 
                        
                        
                            <div class="form-check">   
                                <label for="loginusertype" class="form-check-label">
                                <input type="radio" name="usertype" id="loginusertype" value="patient" class="form-check-input" ngModel>
                                Patient</label>
                                
                            </div>
                            <div class="form-check">   
                                    <label for="loginusertype1" class="form-check-label">
                                    <input type="radio" name="usertype" id="loginusertype1" value="doctor" class="form-check-input" ngModel>
                                    Doctor</label>
                                    
                                    
                                </div>
                            </div>
                                        
                        <div class="form-group text-info ml-2 mr-2">
                            <label for="loginname" ><h5>UserName</h5></label>
                            <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter username">
                        </div>
                        <div class="form-group text-info ml-2 mr-2">
                            <label for="loginpassword"><h5>Password</h5></label>
                            <input type="password" name="password" class="form-control" ngModel id="loginpassword" placeholder="enter your password">
                        </div>
                        
                                
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>   
                        <div class="text-center mb-4">
                          <b> <span class="text-info " >ForgotPassword?</span></b>
                            <a routerLink="/nav/forgotpassword" class="text-success">Click Here</a>
                            </div>     
                        <!--<h6 class="text-center text-danger" *ngIf="loginDetails">{{loginDetails}}</h6>--> 
                       
                    </form>
                   
                </div>
        
    </div>
    <div class="col-sm-4"></div>
    </div>