<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center text-info">About Us</h1>
        
            <p>Doctors make people healthier. When people get sick, doctors figure out why. They give people medicine and other kinds of treatment. They also give advice about diet, exercise, and sleep.

                Doctors use science to figure out what is making people sick. Doctors examine people, listen to them describe their health problems, and do tests to see what is wrong.
                
                There are many kinds of doctors. Family and general practitioners are often the first doctors that people go to when they get sick. These doctors treat common problems. They also send patients to other doctors, called specialists. Specialists are experts in different types of health problems.
                
                For example, internists focus on problems with internal organs. Pediatricians care for children and babies. Surgeons perform operations, like fixing broken bones or transplanting organs.</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/doctors.jpg" width="100%" height="300px;">
        </div>
    </div>
    
    
</div>
<div class="row px-5 py-5" style="background-image: url('./assets/f.jpg')">
    <div class="col-md-6">
        <div class="container">
            <h1 class="text-info">Diverse people.<br>
            One purpose.</h1>
            <p class="text-secondary">We are dreamers, thinkers and do-ers rolled into one.Together, we want to improve the healthcare experience for all humanity. We are guided by our values and driven by our motto to do great. These are not just principles for our products or our company, but they are a reflection of who we are as people.</p>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
 