<div>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" routerLink="home">
          <img src="assets/logo.png" alt="Logo" style="width:60px;height: 40px;"><label class="text-info pl-2 h3 hide">Online Doctor Appointment</label>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#a"><!--create navbar toggler button-->
        <span class="navbar-toggler-icon"></span>                                 <!--create navbar button-->
     </button>
      <div class="collapse navbar-collapse" id="a">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link text-white">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="doctors" class="nav-link text-white">Doctors</a>
      </li>
      <li class="nav-item">
        <a routerLink="aboutus" class="nav-link text-white">About Us</a>
      </li>
     
      <!--<li class="nav-item">
        <a routerLink="patientsdashboard" class="nav-link text-white">Patients Dashboard</a>
      </li>-->
      <!--<li class="nav-item">
          <a routerLink="doctorsdashboard" class="nav-link text-white">Doctors Dashboard</a>
      </li>-->
      
      <!--<li class="nav-item">
        <a routerLink="login" class="nav-link btn btn-info mr-3" *ngIf=ls.isLoggedin >
          <i class="fa fa-lock" style="margin-right: 10px;"></i>Logout
        </a>
      </li>-->
      <li class="nav-item">
        <a routerLink="register" class="nav-link btn btn-info">
          <i class="fa fa-sign-in" style="margin-right: 10px;"></i>Register
        </a>
      </li>
      <li class="nav-item">
          <a routerLink="login" class="nav-link btn btn-info ml-3">
            <i class="fa fa-lock" style="margin-right: 10px;"></i>Login
          </a>
        </li>
      
      
    </ul>
  </div>
  </nav>
  <router-outlet></router-outlet>
    </div>
  

