
  <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/1.jpg" alt="Los Angeles" width="100%" height="500px">
              <div class="carousel-caption">
                              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/2.jpg" alt="Chicago" width="100%" height="500px">
            </div>
            <div class="carousel-item">
              <img src="assets/5.jpg" alt="New York"width="100%" height="500px">
            </div>
            <div class="carousel-item">
              <img src="assets/6.jpg" alt="New York" style="width:100%" height="500px">
            </div>
            <div class="carousel-item">
              <img src="assets/7.jpg" alt="New York" style="width:100%" height="500px">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
        <div class="row mt-5">
          <div class="col-md-8">
            <h3 class="text-info text-center">About Us</h3>
            <p>Whether they are diagnosing an illness or treating an injury, a Medical Doctor is essentially concerned with restoring a patient’s optimum health. Medical Doctors perform health assessments, run diagnostic tests, prescribe medication, create treatment plans and provide health and wellness advice to patients. Medical Doctors can specialize in specific areas of health, such as dermatology, neurology, gastroenterology or gynecology.</p>
            
            
          </div>
          <div class="col-md-4">
            <img src="assets/doctor1.png" height="80%" >
          </div>
        </div>
        <h1 class="text-info text-center">Why Choose Us</h1>
        <h4 class="text-center">We Provide Best Services For Patient
  
        </h4>
        <div class="card-deck mt-5">
            <div class="card">
                <div class="card-header">
                  <h3 class="text-info text-center"> MODERN CLINIC</h3>
                </div>
                <div class="card-body">
                    <img src="assets/8.png" class="d-block mx-auto" height="60%" width="50%">
  
                </div>
                <div class="card-footer">
                     <p>A system in which medical doctors and other healthcare professionals (such as nurses, pharmacists, and therapists) treat symptoms and diseases using drugs, radiation, or surgery.</p>
                </div>
            </div>
            <div class="card">
                  <div class="card-header">
                    <h3 class="text-info text-center">
                          QUALIFIED DOCTORS</h3>
                  </div>
                  <div class="card-body">
                      <img src="assets/d.png" height="60%" width="50%" class="d-block mx-auto">
    
                  </div>
                  <div class="card-footer">
                       <p>Medical doctors examine, diagnose and treat patients. They can specialize in a number of medical areas, such as pediatrics, anesthesiology or cardiology, or they can work as general practice physicians.</p>
                  </div>
              </div>
              <div class="card">
                      <div class="card-header">
                        <h3 class="text-info text-center">
                              EMERGENCY CASES</h3>
                      </div>
                      <div class="card-body">
                          <img src="assets/m.png " class="d-block mx-auto" height="60%" width="50%">
        
                      </div>
                      <div class="card-footer">
                           <p>An emergency is a situation that poses an immediate risk to health, life, property, or environment. Most emergencies require urgent intervention to prevent a worsening of the situation, although in some situations,</p>
                      </div>
                  </div>
        </div>
        <div class="card">
          <div class="card-body my-auto " style="background-image: url('assets/f.jpg');height:400px" height="600px" width="100%">
            <div class="row">
              <div class="col-md-8">
                  <div id="carouselContent" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                          <div class="carousel-item text-center p-4">
                              
                              <h1><p class="text-info">We help you to find the best doctor around you</p></h1>
                          </div>
                          <div class="carousel-item active text-center p-4">
                               <h1><p class="text-info">We Provide Top Medical Services</p></h1>
                          </div>
                          <div class="carousel-item text-center p-4">
                              
                              <h1><p class="text-info">Growing up your 
                                  children with our most 
                                  smart monitization </p></h1>
                          </div>
                      </div>
                      <a class="carousel-control-prev " href="#carouselContent" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            </div>
            </div>
            <div class="card">
            <!--<div style="height:50px"class="bg-dark text-white text-center">© Copyright ©2019 All rights reserved.</div>-->
           <div class="card-footer bg-dark text-white text-center h5">
            © Copyright ©2019 All rights reserved.
           </div>
        
          </div>

        