<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <form class="mt-5" style="border:5px solid rgb(53, 153, 235);background-color: rgba(191, 213, 231, 0.575)"  #ref="ngForm" (ngSubmit)="doctorReg(ref.value)">
            <h3 class="text-center text-info"> Doctor Registration Form</h3>

  <table class="table">
    <tr class="form-group">
      <td><label><span>*</span>UserName:</label></td>
      <td><input type="text" name="name" class="form-control" #reguser="ngModel" ngModel minlength="5" required>
       <div *ngIf="reguser.invalid&&(reguser.dirty||reguser.touched)">
         <div *ngIf="reguser.errors.required">
         <p class="text-danger">*username is manidatory</p>
       </div>
       <div *ngIf="reguser.errors.minlength">
         <p class="text-danger">*UserName must be atleast 5 characters long</p>
       </div>
     </div>
     </td>
    </tr>
    <tr class="form-group">
        <td><label><span>*</span>Name:</label></td>
        <td><input type="text" name="duname" class="form-control" #regusers="ngModel" ngModel required>
         <div *ngIf="regusers.invalid&&(regusers.dirty||regusers.touched)">
           <p class="text-danger">*name is manidatory</p>
         </div>
         
       </td>
      </tr>
    
 <tr class="form-group">
    <td><label>Email:</label></td>
    <td><input type="email" name="email" class="form-control" ngModel></td>
    </tr>
    <tr class="form-group">
        <td><label><span>*</span>Password:</label></td>
        <td><input type="password" name="password" class="form-control" ngModel  #pw="ngModel" required minlength="8">
          <div *ngIf="pw.invalid && (pw.dirty||pw.touched)">
              <div *ngIf="pw.errors.required">
                <p class="text-danger">*Password is required</p>
              </div>
              <div *ngIf="pw.errors.minlength">
                <p class="text-danger">*Password must be atleast 6 characters long</p>
              </div>
            </div>
        </td>
      </tr>
 <tr class="form-group">
 <td><label>DateOfBirth:</label></td>
 <td><input type="date" name="date" class="form-control" ngModel></td>
 </tr>
 
    <tr class="form-group">
        <td><label><span>*</span>mobile number:</label></td>
        <td><input type="tel" name="mobilenumber" class="form-control" ngModel></td>
        </tr>
        <tr>
          <td><label>Gender:</label></td>
          <td><div class="form-check" *ngFor="let gender of genders" >
            <label for={{gender}} class="form-check-label">
            <input type="radio" name="gender" id={{gender}} [value]=gender  class="form-check-input" ngModel>{{gender}}
         </label></div>
         </td>
       
        </tr>

 <tr class="form-group">
    <td><label><span>*</span>Timings:</label></td>
    <td><input type="time" name="timing" class="form-control" ngModel></td>
    </tr>
    <tr class="form-group">
        <td><label><span>*</span>fees:</label></td>
        <td><input type="number" name="fee" class="form-control" ngModel required #f="ngModel">
          <div *ngIf="f.invalid && (f.dirty||f.touched)">
              <div *ngIf="f.errors.required">
                <p class="text-danger">*Fee is required</p>
              </div>
              </div></td>
        </tr>
        
            <tr class="form-group">
                <td><label><span>*</span>Experience:</label></td>
                <td><input type="number" name="experience" class="form-control" ngModel #e="ngModel" required>
                  <div *ngIf="e.invalid && (e.dirty||e.touched)">
                      <div *ngIf="e.errors.required">
                        <p class="text-danger">*Experience is required</p>
                      </div>
                      </div></td>
                </tr>
                <tr>
                    <td><label><span>*</span>Area:</label></td>
                    <td class="form-group">
                      <select class="form-control" name="area" id="" ngModel #a="ngModel" required>
                          <option value="" disabled="disabled" selected> Select Area</option>
                        <option [value]=area *ngFor="let area of areas"  selected>
                          {{area}}
                        </option>
                        
                  
                  
                      </select>
                      <div *ngIf="a.invalid && (a.dirty||a.touched)">
                          <div *ngIf="a.errors.required">
                            <p class="text-danger">*Area is required</p>
                          </div>
                          </div>
                    </td>
                  </tr>
                <tr>
                    <td><label><span>*</span>Specilization:</label></td>
                    <td class="form-group">
                      <select class="form-control" name="specilization" id="" ngModel required #s="ngModel">
                          <option value="" disabled="disabled" selected> Select specilization</option>
                        <option [value]=specilization *ngFor="let specilization of specilizations"  selected>
                          {{specilization}}
                        </option>
                        
                  
                  
                      </select>
                      <div *ngIf="s.invalid && (s.dirty||s.touched)">
                          <div *ngIf="s.errors.required">
                            <p class="text-danger">*Specilization is required</p>
                          </div>
                          </div>

                    </td>
                  </tr>
                  <tr>
                      <td><label>About Doctor:</label></td>
                      <td><div class="form-group">
                       <textarea rows="5" class="form-control" name="textarea" ngModel></textarea>
                      </div></td>
                    </tr>


</table>
<div class="text-center">
<button class="btn btn-success" type="submit"> submit</button>
</div>
</form>
</div>
<div class="col-md-3"></div>
</div>
</div>

